<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <title>Aplikasi Apotek</title>
</head>
<body>
<!-- Header -->
<header id="header">
    <div class="w3-black w3-xxlarge w3-border w3-border-gray">
        <a href="/" class="w3-tag w3-padding">Manajemen Stok Obat</a>
    </div>
</header>
<!-- Header -->

<!-- main site -->
<main id="site-main">
    <div class="w3-container w3-margin">
        <table id="stock" class="w3-table-all w3-margin-bottom display">
            <thead>
                <tr class="w3-amber">
                    <th>No.</th>
                    <th>Kode</th>
                    <th>Nama</th>
                    <th>Gol.</th>
                    <th>Jumlah</th>
                    <th>Satuan</th>
                    <th>Tanggal Kadaluarsa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>FR21</td>
                    <td>Fax Row</td>
                    <td>Keras</td>
                    <td>21</td>
                    <td>Sirup</td>
                    <td>21-04-2024</td>
                </tr>
            </tbody>
        </table>

        <div class="w3-white w3-margin-top-16">
            <a href="/add-drug.html" class="w3-btn w3-green w3-round-medium">
                <span>Tambah Stok Obat <i class="fa-solid fa-prescription-bottle-medical"></i></span>
            </a>
        </div>

    </div>
</main>
<!-- main site -->

<script>
    $(document).ready(function () {
        $('#stock').DataTable({
            paging: false,
            info: false
        });
    });
</script>
</body>
</html>