<tr>
    <td>1</td>
    <td>SS11</td>
    <td>Salep Sakit 11</td>
    <td>Keras</td>
    <td>1</td>
    <td>12000</td>
    <td>
        <button onclick="$('#modal-update').show()" title="Edit" class="w3-btn w3-round w3-tiny w3-card w3-left"><i class="fa-solid fa-pencil"></i></button>
        <button title="Hapus" class="w3-btn w3-card w3-tiny w3-right w3-round"><i class="fa-solid fa-trash"></i></button>
    </td>
</tr>
